/*===============Propiedades Globales================*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    font-family: "monserrat", sans-serif;
    overflow-x: hidden;
}

/*===================MENU==========================*/

 #menu a, button{
     font-size: 18px !important;
     font-weight: 600;
    
 }

 #menu a{
     color:#3f3f3f;
     
 }
/*===================SLIDER DE IMAGENES==========================*/

.carousel-inner {
    max-height:39rem !important;
}

/*===================SECCION NUESTRO EQUIPO IMAGEN==========================*/



#img-equipo{
    max-height:30rem !important;
    width:50%;
}


/*===================SECCION NUESTRO EQUIPO MAPA==========================*/
#local {
    margin-top:50px;
    background-color: #f3f3f3;
    display:flex;
    justify-content: center; 
    padding-bottom: 50px; 
}

.mapa {
    background: url(../img/mapa.png);
    width:100%;
    height:500px;
}


.wrapper-local {
    width:50%;
    margin-left:100px;
    padding-top:150px;
}


/*===========================SECCION EQUIPO MIAMI==================================*/
#numeros-local{
    margin:0 !important;
    padding:0 !important;
}
#numeros-local div {
    padding: 0 20px 0 0;   
    text-align:left;
    height:48px;
}

#numeros-local div:not(:last-child) {
    border-right: 2px solid #3f3f3f;
  }
#numeros-local div:not(:first-child) {
    padding-left:20px;
  }

#numeros-local p{
    margin:0;
}

/*=========================CONTACTOS BACKGROUND================================*/

#bg-contactos{
    position:relative;
    top: -130px;
} 

 #seccion-contacto{
    background-color: #1b2a4e;
    min-height:500px;
    position:relative;
}

/*=========================CONTACTOS FORMULARIO================================*/

#contenedor-formulario{
    position:absolute;
    top:30%;
    left:50%;
    transform: translate(-50%, -50%);
    background: #fbfafa;
    border-radius:5px;
    
}

#titulo-formulario {
    color: #3f3f3f;
}




/*=========================FOOTER================================*/

footer {
    background: #1b2a4e;
    min-height: 100px;;
}
footer p{
    color:#f3f3f3;
    text-align:center;
}
#iconos  i {
    font-size: 26px;
    padding: 0 8px;
    color:#f3f3f3;
}

/*=========================MEDIA QUERIES PANTALLA ANCHA================================*/

@media (max-width:1200px){
    #intro, #equipo {
        width:90% !important;
        margin:auto;
    }
  
    #local {
        flex-wrap: wrap;
        padding-top:30px;
   }
   .wrapper-local {
    width:90%;
    margin:auto;
    padding-top:50px;    
   }
 
}
/*=========================MEDIA QUERIES PANTALLA SM================================*/


@media (max-width:768px) {

    #intro, #equipo{
        width:90% !important;
        margin:auto;
    }

    
    #img-equipo{
        max-height:20rem !important;
        width:90%;
    }
    .wrapper-local {
        width:90%;
        margin:auto;
        padding-top:50px;    
    }
    #local {
        flex-wrap: wrap;
    }
    .mapa img {
        width:100%;
        height:auto;
    }
    #bg-contactos{
        top: -120px;
    }


}
/*=========================MEDIA QUERIES PANTALLA EXTRA-SM================================*/

@media (max-width: 576px) {
    #servicios-fila-2 {
        width:100% !important;
    }
    #servicios-fila-1 {
        width:100% !important;
    }

    .icono-wrap{
        flex-wrap:wrap !important;
        justify-content: center !important;
        text-align: center;
    }
}

/* Globales */


.icon-cart{
    width: 40px;
    height: 40px;
    stroke: #000;
}

.icon-cart:hover{
    cursor: pointer;
}

img{
    max-width: 100%;
}

/* Header */
header{
    display: flex;
    justify-content: space-between;
    padding: 30px 0 40px 0;
}

.container-icon{
    position: relative;
}

.count-products{
    position: absolute;
    top: 55%;
    right: 0;

    background-color: #000;
    color: #fff;
    width: 25px;
    height: 25px;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

#contador-productos{
    font-size: 12px;
}

.container-cart-products{
    position: absolute;
    top: 50px;
    right: 0;

    background-color: #fff;
    width: 400px;
    z-index: 1;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
    border-radius: 10px;
    
}

.cart-product{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;

    border-bottom: 1px solid rgba(0, 0, 0, 0.20);

}

.info-cart-product{
    display: flex;
    justify-content: space-between;
    flex: 0.8;
}

.titulo-producto-carrito{
    font-size: 20px;
}

.precio-producto-carrito{
    font-weight: 700;
    font-size: 20px;
    margin-left: 10px;
}

.cantidad-producto-carrito{
    font-weight: 400;
    font-size: 20px;
}

.icon-close{
    width: 25px;
    height: 25px;
}

.icon-close:hover{
    stroke: red;
    cursor: pointer;
}

.cart-total{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    gap: 20px;
}

.cart-total h3{
    font-size: 20px;
    font-weight: 700;
}

.total-pagar{
    font-size: 20px;
    font-weight: 900;
}

.hidden-cart{
    display: none;
}




/* Main */
.container-items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.item{
    border-radius: 10px;
}

.item:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
}

.item img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    transition: all .5s;
}

.item figure{
    overflow: hidden;
}

.item:hover img{
    transform: scale(1.2);
}

.info-product{
    padding: 15px 30px;
    line-height: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.price{
    font-size: 18px;
    font-weight: 900;
    text-align: center;
}

.info-product button{
    border: none;
    background: none;
    background-color: #000;
    color: #fff;
    padding: 15px 10px;
    cursor: pointer;
}



@media(min-width: 480px){
    .container-card{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap:  10px;
        background-repeat: round;
    }
    .card{
        display: flex;
        flex-direction: column;
    }
    .card-body{
        flex-grow: 1;
        display: flex;
        flex-direction: column;
    }
    .product-link {
        text-decoration: none;
        color:black;
      }
      
      .detalle {
        display: flex;
        align-items: center;
        border: 1px solid #ddd;
        border-radius: 5px;
        padding: 20px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        background-color: #f9f9f9;
    }
    
    .imagenProducto {
        max-width: 375px;
        margin-right: 20px;
    }
    
    .detalle-info {
        flex-grow: 1;
    }
    
    #productoNombre {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 10px;
        color: #333;
        text-transform: uppercase;
    }
    
    #productoPrecio {
        font-size: 20px;
        margin-bottom: 20px;
        color: black;
    }
    
}


